/* font setting */
.fira-sans-regular {
  font-family: "Fira Sans", serif;
  font-weight: 400;
  font-style: normal;
}
/* shared style */
.text-primary {
  color: #0e0e0e;
}
.text-secondary {
  color: #006a50;
}
body {
  margin: 0px 160px;
  background-color: #f1f1f3;
}

button {
  font-family: "Fira Sans", serif;
}

.section-title {
  font-weight: bold;
  font-size: 40px;
  margin: 24px 0px;
  color: #0e0e0e;
}

h5 {
  margin: 0;
  font-size: 20px;
}

/* navbar */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-title {
  font-weight: 800;
  font-size: 32px;
}

.nav-btn {
  background-color: white;

  font-size: 18px;
  font-weight: 600;
  padding: 15px 30px;
  border: 1px solid #006a50;
  border-radius: 8px;
}

/* banner style */
.banner {
  background-color: #c6e4d6;
  padding: 80px 60px;
  margin-top: 20px;
  border-radius: 24px;
}
.banner-content {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
}

.banner-title {
  color: rgba(14, 14, 15, 0.5);
  font-weight: 500;
  margin-top: 0px;
  margin-bottom: 16px;
  font-size: 24px;
}

.banner-heading {
  font-size: 48px;
  margin-top: 0px;
  margin-bottom: 24px;
  font-weight: bold;
}

.banner-image {
  width: 300px;
}

.banner-btn {
  background-color: #006a50;
  color: white;
  padding: 17px 34px;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 500;
}

/* pillar section styling */

.feature-section {
  margin-top: 80px;
}

.feature-card-holder {
  display: flex;
  gap: 24px;
  margin-top: 32px;
}
.feature-card {
  padding: 32px;
  border-radius: 16px;
}
.feature-des {
  font-size: 16px;
  font-weight: normal;
  color: rgba(14, 14, 15, 0.7);
  margin-top: 12px;
  margin-bottom: 24px;
}

#feature-card-one {
  background-color: rgba(84, 140, 245, 0.2);
}
#feature-card-two {
  background-color: #c6e4d6;
}
#feature-card-three {
  background-color: #f7ebcf;
}

.feature-btn {
  padding: 11px 20px;
  border: none;
  border-radius: 8px;
  font-weight: 500px;
  font-size: 16px;
  color: #fff;
}
#feature-btn-one {
  background-color: #5490f5;
}

#feature-btn-two {
  background-color: #09a15c;
}

#feature-btn-three {
  background-color: #ffc239;
}

.card-icon {
  height: 62px;
  width: 62px;
}
.feature-img-holder {
  margin-bottom: 24px;
}

/* recent news  */

.recent-card-holder {
  margin-top: 32px;
}

.recent-card {
  background-color: #fff;
  padding: 48px;
  border-radius: 24px;
  display: flex;
  gap: 32px;
  margin-bottom: 24px;
}

.news-image {
  border-radius: 24px;
}

.news-title {
  margin-top: 0px;
  margin-bottom: 12px;
  font-size: 32px;
  font-weight: bold;
}
.news-logo {
  height: 40px;
  margin-bottom: 12px;
}
.date-time-container {
  display: flex;
  gap: 12px;
  margin-bottom: 12px;
}

.date-time {
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
  margin: 0;
  font-weight: normal;
}

.news-card-des {
  font-size: 16px;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 32px;
  color: rgba(14, 14, 15, 0.7);
}

.news-btn {
  padding: 13px 26px;
  background-color: #006a50;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 500px;
}
