/* font setting */
.fira-sans-regular {
  font-family: "Fira Sans", serif;
  font-weight: 400;
  font-style: normal;
}
/* shared style */
.text-primary {
  color: #0e0e0e;
}
.text-secondary {
  color: #006a50;
}
body {
  margin: 0px 160px;
}

/* navbar */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-title {
  font-weight: 800;
  font-size: 32px;
}

.nav-btn {
  background-color: white;
  font-size: 18px;
  font-weight: 600;
  padding: 15px 30px;
  border: 1px solid #006a50;
  border-radius: 8px;
}
