/* font setting */
.fira-sans-regular {
  font-family: "Fira Sans", serif;
  font-weight: 400;
  font-style: normal;
}
/* shared style */
.text-primary {
  color: #0e0e0e;
}
.text-secondary {
  color: #006a50;
}
body {
  margin: 0px 160px;
  background-color: #f1f1f3;
}

button {
  font-family: "Fira Sans", serif;
}

.section-title {
  font-weight: bold;
  font-size: 40px;
  margin: 24px 0px;
  color: #0e0e0e;
}

h5 {
  margin: 0;
  font-size: 20px;
}

/* navbar */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-title {
  font-weight: 800;
  font-size: 32px;
}

.nav-btn {
  background-color: white;

  font-size: 18px;
  font-weight: 600;
  padding: 15px 30px;
  border: 1px solid #006a50;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.nav-btn:hover {
  background-color: #0f4b2f;
  color: #fff;
}

/* banner style */
.banner {
  background-color: #c6e4d6;
  padding: 80px 60px;
  margin-top: 20px;
  border-radius: 24px;
}
.banner-content {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
}

.banner-title {
  color: rgba(14, 14, 14, 0.5);
  font-weight: 500;
  margin-top: 0px;
  margin-bottom: 16px;
  font-size: 24px;
}

.banner-heading {
  font-size: 48px;
  margin-top: 0px;
  margin-bottom: 24px;
  font-weight: bold;
}

.banner-image {
  width: 300px;
}

.banner-btn {
  background-color: #006a50;
  color: white;
  padding: 17px 34px;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 500;
  transition: background-color 0.3s ease;
}

.banner-btn:hover {
  background-color: #0f4b2f;
}

/* pillar section styling */

.feature-section {
  margin-top: 80px;
}

.feature-card-holder {
  display: flex;
  gap: 24px;
}
.feature-card {
  padding: 32px;
  border-radius: 16px;

  height: 325px;
  width: 410px;
}
.feature-des {
  font-size: 16px;
  font-weight: normal;
  height: 100px;
  color: rgba(14, 14, 14, 0.7);
  margin-top: 12px;
  margin-bottom: 24px;
}
.no-height {
  height: 80px;
}

#feature-card-one {
  background-color: rgba(84, 140, 245, 0.2);
}
#feature-card-two {
  background-color: #c6e4d6;
}
#feature-card-three {
  background-color: #f7ebcf;
}

.feature-btn {
  padding: 11px 20px;
  border: none;

  border-radius: 8px;
  font-weight: 500px;
  font-size: 16px;
  color: #fff;
}
#feature-btn-one {
  background-color: #5490f5;
  transition: background-color 0.3s ease;
}
#feature-btn-one:hover {
  background-color: rgb(42, 129, 129);
}

#feature-btn-two {
  background-color: #09a15c;
  transition: background-color 0.3s ease;
}

#feature-btn-two:hover {
  background-color: rgb(42, 129, 129);
}

#feature-btn-three {
  background-color: #ffc239;
  transition: background-color 0.3s ease;
}

#feature-btn-three:hover {
  background-color: rgb(42, 129, 129);
}

.card-icon {
  height: 62px;
  width: 62px;
}
.feature-img-holder {
  margin-bottom: 24px;
}

/* quote section */

.quote-card {
  background-color: white;
  border-radius: 10px;
  padding: 48px 24px;
  text-align: left;
  margin-top: 32px;
  position: relative;
}

.quote-icon img {
  position: absolute;
  top: 40px;
  left: 24px;
  width: 64px;
  height: 64px;
}

.quote-text {
  font-size: 16px;
  line-height: 1.4;
  color: rgba(14, 14, 14, 0.8);
  margin-bottom: 20px;
}

.author-name {
  font-size: 20px;
  color: rgba(14, 14, 14, 0.8);

  font-weight: 500;
  margin: 0;
}

.author-title {
  font-size: 16px;
  color: rgba(14, 14, 14, 0.6);
  margin: 5px 0 0 0;
}

/* recent news  */

.recent-card-holder {
  margin-top: 32px;
}

.recent-card {
  background-color: #fff;
  height: 402px;
  padding: 48px;
  border-radius: 24px;
  display: flex;
  gap: 32px;
  margin-bottom: 24px;
}
.recent-des {
  font-size: 16px;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 32px;
  color: rgba(14, 14, 14, 0.7);
}
.news-image {
  border-radius: 24px;
}

.news-title {
  margin-top: 0px;
  margin-bottom: 12px;
  font-size: 32px;
  font-weight: bold;
}
.news-logo {
  height: 40px;
  margin-bottom: 12px;
}
.date-time-container {
  display: flex;
  gap: 12px;
  margin-bottom: 12px;
}

.date-time {
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
  margin: 0;
  font-weight: normal;
}

.news-card-des {
  font-size: 16px;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 32px;
  color: rgba(14, 14, 14, 0.7);
}

.news-btn {
  padding: 13px 26px;
  background-color: #006a50;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 500px;
  transition: background-color 0.3s ease;
}

.news-btn:hover {
  background-color: #0f4b2f;
}
/* donate section */
.donate-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.donate-des {
  font-size: 16px;
  font-weight: normal;
  color: rgba(14, 14, 14, 0.7);
  margin-top: 12px;
  margin-bottom: 32px;
}
.text-center {
  text-align: center;
  margin-top: 0;
}

.amount-card-holder {
  display: flex;
  gap: 24px;
}
.amount-card {
  padding: 40px;
  background-color: #fff;
  transition: background-color 0.3s ease;
  border-radius: 16px;
}
.amount-card:hover {
  background-color: lightskyblue;
}
.card-two {
  background-color: #c6e4d6;
}

.amount {
  font-size: 40px;
  margin: 0;
  font-weight: bold;
}

.amount-input {
  text-align: center;
  margin: 32px 20px;
  width: 80%;
  padding: 20px 0px;
  border: none;
}

/* news-letter section */

.news-letter {
  margin-top: 80px;
  margin-bottom: 80px;
  background-color: #c6e4d6;
  border-radius: 24px;
  padding: 80px 165px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.newsletter-title {
  font-weight: bold;
  font-size: 40px;
  margin: 0px;
  color: #0e0e0e;
}

.news-letter-des {
  font-size: 16px;
  font-weight: normal;
  color: rgba(14, 14, 14, 0.7);
  margin-top: 16px;
  margin-bottom: 24px;
}

/* Form container */
.newsletter-form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

/* Input field styling */
.newsletter-input {
  flex: 1;
  padding: 15px 20px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px 0 0 8px;
  outline: none;
  border-right: none;
}

/* Button styling */
.newsletter-button {
  padding: 15px 20px;
  background-color: #006a50;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-radius: 0px 8px 8px 0px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.newsletter-button:hover {
  background-color: #0f4b2f;
}

.newsletter-note {
  font-size: 16px;
  font-weight: normal;
  color: rgba(14, 14, 14, 0.7);
  margin-top: 24px;
  margin-bottom: 0px;
}
